* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #f1f1f1;
}

header {
    text-align: center;
    background: rgb(182, 3, 107);
    padding: 30px;
}

header h1 {
    font-size: 50px;
    color: white;
}

nav ul {
    list-style-type: none;
    background-color: rgb(21, 4, 98);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 16px;
    display: block;
}

nav li {
    float: left;
}

nav a:hover {
    background-color: white;
    color: rgb(21, 4, 98);
}

img {
    width: 100%;
}

.row {
    padding: 0 20px;
    display: table;
    width: 100%;
}

section {
    float: left;
    width: 75%;
}

aside {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

footer {
    padding: 20px;
    background: rgb(21, 4, 98);
    color: white;
    margin-top: 20px;
    display: table;
    width: 100%;
}

footer dl, footer p {
    display: table-cell;
    vertical-align: middle;
}

footer dt {
    font-weight: bold;
}

footer dd {
    margin-left: 0;
}

footer p {
    text-align: right;
    font-weight: bold;
    font-size: 25px;
}

.video-responsivo {
    position: relative;
    padding-top: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(50, 50, 50, 0.77);
}

#sobre h2 {
    font-family: Impact, fantasy;
    text-align: left;
    font-size: 30px;
    color: rgb(120, 120, 120, 1);
}

#sobre p {
    font-family: 'Comic Sans', cursive;
    text-align: justify;
}

mark {
    background-color: green;
    color: white;
}

#postagem {
    text-align: justify;
    color: #333;
}

#postagem p {
    line-height: 1.83;
    margin: 20px 0;
    font-size: 18px;
}

#postagem h2 {
    font-size: 34px;
    margin: 20px 0;
    line-height: 1.3;
}

#postagem h3 {
    font-size: 27px;
    margin: 50px 0 10px 0;
}

#lista-topicos {
    list-style-type: none;
    padding: 0;
}

#lista-topicos a {
    text-decoration: none;
    color: black;
}

#lista-topicos li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

html {
    scroll-behavior: smooth;
}

#link-topo {
    text-decoration: none;
    color: white;
    background-color: rgb(182, 3, 107);
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 3px 3px 10px #333;
}

/*Tablet*/
@media screen and (max-width: 768px) {
    section, aside {
        width: 100%;
        padding: 0;
    }
}

/*Celular*/
@media screen and (max-width: 600px) {
    nav li {
        float: none;
        width: 100%;
        text-align: center;
    }

    footer p {
        display: none;
    }
}