form {
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 4px 8px #999;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    font: 1em sans-serif;
    border: 1px solid #999;
}

label {
    font-weight: bold;
    padding-bottom: 5px;
    display: inline-block;
}

button {
    background-color: white;
    border: 1px solid rgb(21, 4, 98);
    color: rgb(21, 4, 98);
    font-weight: bold;
    padding: 15px;
    border-radius: 3px;
}